<script language="javascript">
(function() {
  if('%%ASYNC%%' == '1') {
    window.inFIF = true;
  }
})();
</script>
<script>

/*Využívá parallax scrollingu, pouští se s z megaboardu... nejde na volny.cz, respekt.cz*/

var parHost = parent.location.hostname;
var parDoc = parent.document;

// potřeba napsat podmínku, při které budeme detekovat fireplace = 
// fireplace ano --> nezapíše se background color do brand-c NEBO fireplace ne --> zapíše se background color do brand-c podle služby background-color:#fff; background-color: #e9e9e9;

//vložení hidden_under na stahuj.cz - má jinou strukturu
if(parent.location.hostname.match('stahuj.centrum.cz'))
{
  var c1 = parent.document.getElementById('body-c');
  c1.insertAdjacentHTML('afterend', '<div id="three">Reklama</div>');
  var c2 = parent.document.getElementById('three');
  c2.insertAdjacentHTML('beforeend', '<div class="adWrapperFlightId" id="sas_%%FLIGHTID%%_%%FCID%%"><a href="%%PRECLICKURL%%" target="_blank" class="newWin" style="margin:0 auto;"><img src="%%MEDIA%%" border="0" style="min-width:970px;margin-right: auto !important; margin-left: auto !important; display: block !important;" /></a></div>');
}

else {
//vložení hidden_under na ostatní stránky 
var d1 = parent.document.getElementById('brand-c');
d1.insertAdjacentHTML('afterend', '<div id="three">Reklama</div>');
var d2 = parent.document.getElementById('three');
d2.insertAdjacentHTML('beforeend', '<div class="adWrapperFlightId" id="sas_%%FLIGHTID%%_%%FCID%%"><a href="%%PRECLICKURL%%" target="_blank" class="newWin" style="margin:0 auto;"><img src="%%MEDIA%%" border="0" style="min-width:970px;margin-right: auto !important; margin-left: auto !important; display: block !important;" /></a></div>');
}

if (parent.location.hostname.match('aktualne.cz')) {parent.document.getElementById('brand-b').style.cssText = "padding-bottom:340px";};
if (parent.location.hostname.match('vareni.cz')|| parent.location.hostname.match('zdrave.cz')) {parent.document.getElementById('brand-b').style.cssText = "padding-bottom:425px";}
</script>
<div class="sashec-preserve-scope">%%X_Mericikod%%
<script type="text/javascript">
  (function() {
    if("%%BEACONURL%%" != "") {
      var img = new Image(1,1);
      img.border = 0;
      img.style.display = "none";
      img.src = "%%BEACONURL%%";
    }
  })();
</script>
</div>
<style>
#brand-b {padding-bottom: 412px}
#stahuj-homepage {padding-bottom: 390px;}
#brand-c {box-shadow: 0 3px 5px -2px #666; overflow: hidden; position: relative; width: 100%; z-index: 2;}
#body-c {box-shadow: 0 3px 5px -2px #666; overflow: hidden; position: relative; width: 100%; z-index: 2; }
#three {bottom: 10px; left: 0; position: fixed; text-align: right; margin: 0 auto; width: 100%; z-index: 0; font-size: 10px;}
.dolni-banner > .banner > .reklama {background-image: none !important;}
#fb-panel-fixed, .text-reklama, .a-title, .reklama-nazev.sa-show {display: none !important;}
</style>
%%X_CSS%%