<script>
/*

Vycházím z http://www.w3schools.com/howto/howto_css_parallax.asp

Vytvářím hidden under... neboli schovaný obrázek pod celým webem... ten bude mít vždy 1980x600.
U některých webů definuju výseč, ale mnohdy to není potřeba... ve většině případů má výseč na výšku 600px.
Klikatelná je celá plocha, obázek je zarovnán na střed. 

Scrollování zleva-doprava je funkční tehdy, když okno je menší než šířka obsahu webu (content)


Nejde na: vybermiauto, realitymix a respekt - volání megaboardu asynchronně a layout je mnohdy divoký...


*/
if(parent.location.hostname.match('stahuj.centrum.cz'))
{
	//stahuj.cz nemá brand-c, ale body-c
	var a = document.getElementById("body-c"); 

    //vkládáme obrázek o velikosti 1980x600, dále vkládáme měření v podobě pixelu volaného javascriptem
	a.insertAdjacentHTML('beforeend','<div id="parallax-scroll" style="background-color:#4CAD2C;cursor:pointer;height:600px;background-attachment:fixed;background-position: center 93%; background-repeat: no-repeat;background-image: url(http://www.digitalcopy.com.mx/wp-content/uploads/2014/08/BANNER-COLOR.png)"></div><div class="sashec-preserve-scope">%%X_MEASURE_CODES%%<scr'+'ipt type="text/javascript">(function(){if("%%BEACONURL%%" != ""){var img = new Image(1,1);img.border = 0;img.style.display = "none";img.src = "%%BEACONURL%%";}})();<\/scr'+'ipt></div>');
}

else 
{ 
	if (parent.location.hostname.match('aktualne.cz'))
	{
		var b = document.getElementById("brand-c");
		
		//vkládáme obrázek o velikosti 1980x600 (aktuálně má patičku, která se musí přesunout nad banner),
		// dále vkládáme měření
		b.insertAdjacentHTML('beforeend','<div id="parallax-scroll" style="background-color:#4CAD2C;cursor:pointer;height:1045px;background-attachment:fixed;background-position: center 100%;overflow-x: hidden; background-repeat: no-repeat;background-image: url(http://www.digitalcopy.com.mx/wp-content/uploads/2014/08/BANNER-COLOR.png)"></div><div class="sashec-preserve-scope">%%X_MEASURE_CODES%%<scr'+'ipt type="text/javascript">(function(){if("%%BEACONURL%%" != ""){var img = new Image(1,1);img.border = 0;img.style.display = "none";img.src = "%%BEACONURL%%";}})();<\/scr'+'ipt></div>');

		//patička webu, která se musí přesunout nad banner nemá IDčko... tak jí ho dáme, CSSko provedem později
		function cssLoad()
		{
			parent.document.getElementsByClassName("paticka-obal")[0].setAttribute("id","naughty-footer");
		}
		window.onload = cssLoad;
	}


	else if (parent.location.hostname.match('ihned.cz'))
	{
		var c = document.getElementById("brand-c");	
		
		//vkládáme obrázek o velikosti 1980x600 (ihned má patičku, která se musí přesunout nad banner),
		// dále vkládáme měření
		c.insertAdjacentHTML('beforeend','<div id="parallax-scroll" style="background-color:#4CAD2C;cursor:pointer;height:600px;background-attachment:fixed;background-position: center 100%;overflow-x: hidden; margin-top: 100px; background-repeat: no-repeat;background-image: url(http://www.digitalcopy.com.mx/wp-content/uploads/2014/08/BANNER-COLOR.png)"></div><div class="sashec-preserve-scope">%%X_MEASURE_CODES%%<scr'+'ipt type="text/javascript">(function(){if("%%BEACONURL%%" != ""){var img = new Image(1,1);img.border = 0;img.style.display = "none";img.src = "%%BEACONURL%%";}})();<\/scr'+'ipt></div>');

		//patička webu se musí přesunout nahoru a trošku smrsknout, aby se hidden under vešel
		function ihnedCSS()
		{
			document.getElementById("footer").style.cssText = "margin-top: -758px !important; height: 110px !important";

		}
		window.onload = ihnedCSS;

		// tyto weby mají box-layout a tak hidden under vkládáme trochu jinak
		if ((parent.location.hostname.match('business-spotlight.ihned.cz')) || 
			(parent.location.hostname.match('exporter.ihned.cz')) || 
			(parent.location.hostname.match('logistika.ihned.cz')) ||
			(parent.location.hostname.match('ov.ihned.cz')) || 
			(parent.location.hostname.match('pravniradce.ihned.cz')))
			{
			document.getElementById("parallax-scroll").style.cssText = "height: 600px;background-color:#4CAD2C;cursor:pointer;background-attachment:fixed;background-position: center 100%;overflow-x: hidden; margin-top: 100px; background-repeat: no-repeat;background-image: url(http://www.digitalcopy.com.mx/wp-content/uploads/2014/08/BANNER-COLOR.png)";
			}
	}

	else  // ostatní weby, které mají megaboard (stahuj, vaření, zdravě)
	{
		var d = document.getElementById("brand-c");
		
		d.insertAdjacentHTML('beforeend','<div id="parallax-scroll" style="background-color:#4CAD2C;cursor:pointer;height:600px;background-attachment:fixed;background-position: center 96%;overflow-x: hidden; background-repeat: no-repeat;background-image: url(http://www.digitalcopy.com.mx/wp-content/uploads/2014/08/BANNER-COLOR.png)"></div><div class="sashec-preserve-scope">%%X_MEASURE_CODES%%<scr'+'ipt type="text/javascript">(function(){if("%%BEACONURL%%" != ""){var img = new Image(1,1);img.border = 0;img.style.display = "none";img.src = "%%BEACONURL%%";}})();<\/scr'+'ipt></div>');

		// tyto weby potřebujou mít určenou 100%ní šířku
		if ((parent.location.hostname.match('vareni.cz')) ||
			(parent.location.hostname.match('zdrave.cz')))
		{
		document.getElementById("parallax-scroll").style.cssText = "height: 600px; width: 100%;background-color:#4CAD2C;cursor:pointer;background-attachment:fixed;background-position: center 100%;overflow-x: hidden; margin-top: 100px; background-repeat: no-repeat;background-image: url(http://www.digitalcopy.com.mx/wp-content/uploads/2014/08/BANNER-COLOR.png)";
		}
	}
}

// proklik
document.getElementById("parallax-scroll").setAttribute("onclick", "window.open('%%PRECLICKURL%%','_blank')");
</script>

<style>
/*na aktualne.cz a podobných posouváme patu webu nahoru... tvoříme prostor pro hidden under*/
#naughty-footer {margin-top: -1127px !important;} 

/*na ihned.cz a podobných posouváme patu webu nahoru... tvoříme prostor pro hidden under*/
footer.footer {padding: 0 !important;}
div.stripe-middle.clearfix {margin-bottom: 0 0 !important;}

/*schovávačky*/
div.text-reklama, #global-socials, #fb-panel-fixed, div.reklama-nazev.sa-show  {display: none !important;} 
</style>
%%X_CSS%%