<!-- spir.czMonS[196_C%%CAMPID%%_%%PRODUCT_ID%%_1_%%FCID%%] -->
<!-- ECO_interacitve_fireplace /FCID=%%FCID%%/ -->

<script type="text/javascript">

// stin pro content
if(parent.location.hostname.match('centrum.cz')){
parent.document.getElementsByTagName('body')[0].className+=' fireplace-shadow';
}

var parHost = parent.location.hostname;

var adVars = {
  src: '%%MEDIA%%',
  src_type: '%%X_LEADER_TYPE%%',
  src_side_left: '%%LEFT_FILE%%',
  src_side_right: '%%RIGHT_FILE%%',
  set_side: '%%X_SET_SIDE%%',
  src_side_type: '%%X_SIDE_TYPE%%',
  width: %%X_LEADER_WIDTH%%,
  height: %%X_LEADER_HEIGHT%%,
  side_width: '%%X_SIDE_WIDTH%%',
  side_height: '%%X_SIDE_HEIGHT%%',
  set_background: false,
  src_background: '%%BACKGROUND_FILE%%',
  src_repeat_background: '%%BACKGROUND_FILE_REPEAT%%',
  repeat_background: '%%X_BACKGROUND_REPEAT%%',
  color_background: '%%X_BACKGROUND_COLOR%%',
  sticky_background: '%%X_STICKY_POZADI%%',
  sticky_sky: '%%X_STICKY_SKY%%',
  url: '%%PRECLICKURL%%',
  url_left: '%%PRECLICKURL%%',
  url_right: '%%PRECLICKURL%%',
  set_coverbackground: false, // PRO POUŽITÍ PŘEKRÝVACÍHO HORNÍHO POZADÍ
  src_coverbackground: '%%PREKRYVACI_POZADI%%', // PŘEKRÝVACÍ POZADÍ
  coverbackground_height: '%%X_PREKRYVACI_HEIGHT%%', // VÝŠKA PŘEKRÝVACÍHO POZADÍ
  domena: location.hostname
};

// nastav set_background
if ((adVars.src_background != "") || (adVars.src_repeat_background != "") || (adVars.color_background != "") || (('%%BACKGROUND_FILE_NEW_AKTUALNE%%') != "") || (('%%BACKGROUND_FILE_REPEAT_NEW_AKTUALNE%%') != "")) {
  adVars.set_background = true;
}

function insertIframe (iframeUrl, iframeWidth, iframeHeight) {
var iframeCode = '<iframe src="'+ iframeUrl +'?click=%%PRECLICKURL%%" scrolling="no" allowtransparency="true" marginwidth="0" marginheight="0" vspace="0" hspace="0" noresize="true" frameborder="0" align="left" style="border:0px none;padding: 0px ;margin: 0px; float:none;" width="' + iframeWidth + '" height="' + iframeHeight + '"></iframe>';
return iframeCode;
};

//jsem na aktualne s vetsi sirkou?
if('%%DEVICE%%'=='df'){
adVars.src = '%%LEADER_NEW_AKTUALNE%%';
adVars.width = 1180;
adVars.src_background = '%%BACKGROUND_FILE_NEW_AKTUALNE%%';
adVars.src_repeat_background = '%%BACKGROUND_FILE_REPEAT_NEW_AKTUALNE%%';
}

// nadefinuj defaulty
if (adVars.src == '%%HTTP%%://content.aimatch.com/default.gif' || adVars.src == '') {
  adVars.src = '%%HTTP%%://i0.cz/reklama/bo/sas/transparent.png';
} else {adVars.src = adVars.src;}

adVars.src_side_type == '' ? adVars.src_side_type = 'image' : adVars.src_side_type = adVars.src_side_type;
adVars.side_width != '' ? adVars.side_width = parseInt('%%X_SIDE_WIDTH%%') : adVars.side_width = 120;
adVars.side_height != '' ? adVars.side_height = parseInt('%%X_SIDE_HEIGHT%%') : adVars.side_height = 600;
adVars.set_side == '' ? adVars.set_side = 'repeat-y' : adVars.set_side = adVars.set_side;

// rozdilne kliky na boky?
if('%%X_URL_SIDE_LEFT%%'!=''){
adVars.url_left = '%%X_URL_SIDE_LEFT%%';
}

if('%%X_URL_SIDE_RIGHT%%'!=''){
adVars.url_right = '%%X_URL_SIDE_RIGHT%%';
}

// placeholder pro boky pokud nejsou dodany
if (adVars.src_side_left == '') {
  adVars.src_side_left = '%%HTTP%%://i0.cz/reklama/bo/sas/transparent.png';
} 
if (adVars.src_side_right == '') {
  adVars.src_side_right = '%%HTTP%%://i0.cz/reklama/bo/sas/transparent.png';
}

var docHeight = (parent.document.height !== undefined) ? parent.document.height : parent.document.body.offsetHeight;
if(adVars.set_side=='no-repeat'){var side_height = adVars.side_height} else {var side_height = docHeight-60};

// docHeight fix na vareni a zdrave
if(parHost.match('vareni.cz') || parHost.match('zdrave.cz')){
   var bglinka = parent.document.getElementById('bglinka');
     if(adVars.set_side == 'repeat-y'){
        var side_height = bglinka.offsetHeight - 60;
     } 
}

html_web = '<div class="chAd" style="position:relative;width:'+adVars.width+'px;" id="fp-leader">'+
'<div id="fp-ad-indicator" style="position:absolute;border:0;width:6px;height:35px;left:-126px;top:0;"><img border="0" style="border:0;" src="%%HTTP%%://i0.cz/reklama/ad-indicator.gif" alt="reklama"></div>';

if (adVars.src_side_type == 'image') {
  html_web += '<a class="newWin" href="'+adVars.url_left+'" target="_blank" style="z-index:2;background-image:url(\''+adVars.src_side_left+'\');background-repeat:'+adVars.set_side+';width:'+adVars.side_width+'px;height:'+side_height+'px;position:absolute;top:0px;left:-'+adVars.side_width+'px;border:0;display:block" id="side_left_loop"></a>';
} 

if (adVars.src_side_type == 'iframe') {
   html_web += '<div style="z-index:2;position:absolute;left:-'+adVars.side_width+'px;border:0;width:'+adVars.side_width+'px;height:'+adVars.side_height+'px;" id="side_left_loop">'+ insertIframe(adVars.src_side_left, adVars.side_width, adVars.side_height) + '</div>';
} 

if (adVars.src_type == 'iframe') {
   html_web += insertIframe(adVars.src, adVars.width, adVars.height);
} else if (adVars.src_type == 'code') {
   html_web += '';
} else {
  html_web += '<a class="newWin" id="positionLeaderboard" href="'+adVars.url+'" target="_blank"><img src="'+adVars.src+'" alt="" width="'+adVars.width+'" height="'+adVars.height+'" /></a>';

}
if (adVars.src_side_type == 'image') {
   html_web += '<a class="newWin" href="'+adVars.url_right+'" target="_blank" style="z-index:2;background-image:url(\''+adVars.src_side_right+'\');background-repeat:'+adVars.set_side+';width:'+adVars.side_width+'px;height:'+side_height+'px;position:absolute;top:0px;right:-'+adVars.side_width+'px;border:0;display:block" id="side_right_loop"></a>';
} 

if (adVars.src_side_type == 'iframe') {
  html_web += '<div style="z-index:2;position:absolute;right:-'+ adVars.side_width+'px;top:0;border:0;width:'+ adVars.side_width+'px;height:'+adVars.side_height+'px;" id="side_right_loop">'+ insertIframe(adVars.src_side_right, adVars.side_width, adVars.side_height) + '</div>';
} 

html_web += '</div>';
   
if (adVars.set_background == true) {
  var back_attachment = 'background-attachment: scroll;';
  adVars.sticky_background != '' ? back_attachment = 'background-attachment: fixed;' : back_attachment = back_attachment;

  if (adVars.color_background != '') {
    html_web += '<style type="text/css">.brand-a{background-color:'+adVars.color_background+';}</style>';
  }

  if (adVars.src_background != '') {
    html_web += '<style type="text/css">.brand-c{background-image:url(\''+adVars.src_background+'\');background-repeat:no-repeat;background-position:top center; '+ back_attachment +'}#ad-leader,#reklama-leader{height:'+adVars.height+'px;}</style>';
  }

  if (adVars.src_repeat_background != '') {
  html_web += '<style type="text/css">.brand-a{background-image:url(\''+adVars.src_repeat_background+'\');background-repeat:repeat-y;background-position:top center;' + back_attachment +'}#ad-leader,#reklama-leader{height:'+adVars.height+'px;}</style>';
  }
}

// STICKY SKY BLOCK START
if ((parHost.match('centrum.cz') || parHost.match('atlas.cz') || parHost.match('volny.cz')) && (adVars.sticky_sky != '')) {
  html_web += '<style type="text/css">#side_left_loop{position: fixed !important; left: 50% !important; margin-left: -635px}#side_right_loop {position: fixed !important; left: 50% !important; margin-left: 515px;}#header.hlavicka.fixed {width: 1030px !important}</style>';
}
if ((parHost.match('vareni.cz') || parHost.match('zdrave.cz')) && (adVars.sticky_sky != '')){
  html_web += '<style type="text/css">#side_left_loop{position: fixed !important; left: 50% !important; margin-left: -632px; margin-top: 27px !important}#side_right_loop {position: fixed !important; left: 50% !important; margin-left: 512px; margin-top: 27px !important}#banner-sas-leaderboard{margin-top: 31px !important}#fb-panel-fixed{display: none}#ch-tb{position: fixed !important}</style>';
}
if ((parHost.match('aktualne.cz'))&&(adVars.sticky_sky!='')){
  html_web+='<style type="text/css">#side_left_loop{position: fixed !important; left: 50% !important; margin-left: -710px}#side_right_loop{position: fixed !important; left: 50% !important; margin-left: 590px}</style>';
}
if ((
parHost.match('vybermiauto.cz') || parHost.match('ihned') || parHost.match('stahuj.centrum.cz') || parHost.match('penize.cz') || parHost.match('autickar.cz') || parHost.match('fdb.cz')) && (adVars.sticky_sky != '')) {
html_web += '<style type="text/css">#side_left_loop{position: fixed !important; left: 50% !important; margin-left: -630px}#side_right_loop{position: fixed !important; left: 50% !important; margin-left: 510px}#ch-tb{position: fixed}</style>';
}
// zarovnání a vytvoření safe zón u některých webů
if ((parHost.match('stahuj.centrum.cz') || parHost.match('magazin.stahuj.centrum.cz') || parHost.match('poradna.stahuj.centrum.cz')) && (adVars.sticky_sky != '')){
html_web+='<style type="text/css">#side_left_loop, #side_right_loop, #banner-leaderboard {margin-top: 27px !important}#ch-tb{position: fixed}</style>';
}
if ((parHost.match('probyznysinfo.ihned.cz')) && (adVars.sticky_sky != '')){
  html_web+='<style type="text/css">#r-leader{width: 1020px !important}</style>';
}
if ((parHost.match('proc-ne.ihned.cz')) && (adVars.sticky_sky != '')){
  html_web+='<style type="text/css">#a-leader{width: 1020px !important; margin-left: -10px}</style>';
}
if ((parHost.match('exporter.ihned.cz')) && (adVars.sticky_sky != '')){
  html_web+='<style type="text/css">#r-leader{margin-top: -10px}#ihned{border-left: 10px solid white;border-right: 10px solid white; border-top: 10px solid white; margin-top: -10px}</style>';
}
if ((parHost.match('vybermiauto.cz'))&&(adVars.sticky_sky != '')){
  html_web+='<style type="text/css">#main{margin-top: -12px}</style>';
}
if ((parHost.match('fdb.cz'))&&(adVars.sticky_sky != '')){
  html_web+='<style type="text/css">#wrapper{margin-top: -10px; border: solid 10px #E5E5E5}</style>';
}
if ((parHost.match('blog.ihned.cz') || parHost.match('pocasi.ihned.cz')) && (adVars.sticky_sky!='')){
  html_web+='<style type="text/css">#ihned{border-left: 10px solid white; border-right: 10px solid white}</style>';
}
if((
  parHost.match('ekonom.ihned.cz')||
  parHost.match('logistika.ihned.cz')||
  parHost.match('modernirizeni.ihned.cz')||
  parHost.match('ov.ihned.cz') ||
  parHost.match('business-spotlight.ihned.cz') ||
  parHost.match('pravniradce.ihned.cz') || 
  parHost.match('kariera.ihned.cz') 
  )){
  html_web+='<style type="text/css">#ihned {margin-top: -10px}</style>'
}
// STICKY SKY BLOCK END

// speciál
if(parHost.match('vanoce.centrum.cz')){
html_web += '<style type="text/css">#fp-leader{border-bottom: 5px solid #fff;margin-left: -9px;height: '+adVars.height+'px;} .wrapper {background: url("../../img/desktop/bg.jpg") repeat-x center top #dbf0fa;padding:0 4px;}</style>';
}

if(parHost.match('autickar.cz')){
  html_web += '<style type="text/css">.rowBigRed{width: 1020px; margin-left: 322px}</style>';
}

if(parHost.match('ihned')){
html_web += '<style type="text/css">.a-wrapper{padding-top:0 !important;} .leader .advert-title, .leader .a-title {display:none !important;}.advert-wrapper.leader {padding:0 !important;}#fp-leader{left:-10px !important;}.leader .advert {width:1020px !important;} #global-socials {display: none;} #r-sky-l, #r-sky {display:none !important;}</style>';
}

if(parHost.match('vybermiauto.cz') || parHost.match('naftanebobenzin.cz')){

    if (adVars.color_background != '') {
      html_web += '<style type="text/css"> body { background-color:'+adVars.color_background+';}</style>';  
    }
    if (adVars.src_repeat_background != '' && adVars.src_background != '') { //obe pozadi
      html_web += '<style type="text/css">#r-leader-ozn {display:none !important;}#r-leader {background:none !important; width: 1020px !important;}#left_scycraper, #right_scycraper {display:none !important;} body {background:url(\''+adVars.src_background+'\') no-repeat top center, url(\''+adVars.src_repeat_background+'\') repeat-y top center;'+ back_attachment +'}#ab_container {background-image: url("%%HTTP%%://i0.cz/reklama/bo/ad/vybermiauto/bg.jpg");} #vybermiauto {border-left: 10px solid white;border-right: 10px solid white;}</style>';
    } else if (adVars.src_repeat_background != '' && adVars.src_background == '') { //repeat only
      html_web += '<style type="text/css">#r-leader-ozn {display:none !important;}#r-leader {background:none !important; width: 1020px !important;}#left_scycraper, #right_scycraper {display:none !important;} body {background-image:url(\''+adVars.src_repeat_background+'\');background-repeat:repeat-y;background-position:top center;'+ back_attachment +'}#ab_container {background-image: url("%%HTTP%%://i0.cz/reklama/bo/ad/vybermiauto/bg.jpg");} #vybermiauto {border-left: 10px solid white;border-right: 10px solid white;}</style>';
    } else if (adVars.src_repeat_background == '' && adVars.src_background != ''){ //top pozadi
      html_web += '<style type="text/css">#r-leader-ozn {display:none !important;}#r-leader {background:none !important; width: 1020px !important;}#left_scycraper, #right_scycraper {display:none !important;} body {background-image:url(\''+adVars.src_background+'\');background-repeat:no-repeat;background-position:top center;'+ back_attachment +'}#ab_container {background-image: url("%%HTTP%%://i0.cz/reklama/bo/ad/vybermiauto/bg.jpg");} #vybermiauto {border-left: 10px solid white;border-right: 10px solid white;}</style>';
    } else {
      html_web += '<style type="text/css">#r-leader-ozn {display:none !important;}#r-leader {background:none !important; width: 1020px !important;}#left_scycraper, #right_scycraper {display:none !important;}</style>';   
    }
}

//FP pro stahuj.cz, dlouho měl leader o velikosti 990px a ne 1020px jako u packů
if(parHost.match('stahuj.centrum.cz')
  ){
    if (adVars.color_background != '') {
      html_web += '<style type="text/css"> body { background-color:'+adVars.color_background+';}</style>';  
    }
    if (adVars.src_repeat_background != '' && adVars.src_background != '') { //obe pozadi
      html_web += '<style type="text/css">
#banner-leaderboard.banner {background:none !important; width: 1020px !important;overflow: initial !important} #hp-ico, #fb-panel-fixed, #fp-ad-indicator, #discussion-sticky.article-discussion-sticky {display: none !important;} #body-c {background:url(\''+adVars.src_background+'\') no-repeat top center, url(\''+adVars.src_repeat_background+'\') repeat-y top center;'+ back_attachment +';margin-top: 26px} #page-homepage.page {border-left: 15px solid white;border-right: 15px solid white; width: 992px; border-top: 15px solid white;margin-top: -2px} #fp-leader.chAd {margin-left: -29px !important; margin-top: -22px}</style>';
    } 
    else if (adVars.src_repeat_background != '' && adVars.src_background == '') { //repeat only
      html_web += '<style type="text/css">
#banner-leaderboard.banner {background:none !important; width: 1020px !important;overflow: initial !important} #hp-ico, #fb-panel-fixed, #fp-ad-indicator, #discussion-sticky.article-discussion-sticky {display: none !important;} #body-c {background-image:url(\''+adVars.src_repeat_background+'\');background-repeat:repeat-y;background-position:top center;'+ back_attachment +';margin-top: 26px} #page-homepage.page {border-left: 15px solid white;border-right: 15px solid white; width: 992px; border-top: 15px solid white;margin-top: -2px} #fp-leader.chAd {margin-left: -29px !important; margin-top: -22px}</style>';
    } 
    else if (adVars.src_repeat_background == '' && adVars.src_background != ''){ //top pozadi
      html_web += '<style type="text/css">
#banner-leaderboard.banner {background:none !important; width: 1020px !important;overflow: initial !important} #hp-ico, #fb-panel-fixed, #fp-ad-indicator, #discussion-sticky.article-discussion-sticky {display: none !important;} #body-c {background-image:url(\''+adVars.src_background+'\');background-repeat:no-repeat;background-position:top center;'+ back_attachment +'; margin-top: 26px} #page-homepage.page {border-left: 15px solid white;border-right: 15px solid white; width: 992px; border-top: 15px solid white;margin-top: -2px} #fp-leader.chAd {margin-left: -29px !important; margin-top: -22px}</style>';
    } 
    else {
      html_web += '<style type="text/css">
body {background-color:'+adVars.color_background+';} #banner-leaderboard.banner {background:none !important; width: 1020px !important;overflow: initial !important} #hp-ico, #fb-panel-fixed, #fp-ad-indicator, #discussion-sticky.article-discussion-sticky {display: none !important;} #page-homepage.page {border-left: 15px solid white;border-right: 15px solid white; width: 992px; border-top: 15px solid white;margin-top: -2px} #fp-leader.chAd {margin-left: -29px !important; margin-top: -22px}</style>';   
    }
}

if(parHost.match('penize.cz')){
html_web += '<style type="text/css">#sas-leaderboard {height:'+adVars.height+'px}.reklamabg{background:none !important} #fp-leader{left: 0 !important;}#sas_sky_p{display:none !important;}.leaderboard.reklama {padding:0 !important;}.leaderboard .uchoReklama {display:none !important;} </style>';
}

if(parHost.match('finmag.penize.cz')){
html_web += '<style type="text/css">.ad.leaderboard{padding:0 !important;}.leaderboardbg {background:none !important}.ad.leaderboard .adhead {display: none}</style>';
}

if(
parHost.match('blog.ihned.cz') ||
parHost.match('pocasi.ihned.cz') ||
parHost.match('ekonom.ihned.cz') ||
parHost.match('logistika.ihned.cz') ||
parHost.match('modernirizeni.ihned.cz') ||
parHost.match('ov.ihned.cz') ||
parHost.match('business-spotlight.ihned.cz') ||
parHost.match('pravniradce.ihned.cz') || 
parHost.match('proc-ne.ihned.cz')
){
html_web += '<style type="text/css">#fp-leader{left:0px !important;}#r-leader {background:none !important;}#r-leader-ozn {display:none !important;}#r-leader .reklama{margin-left:0 !important;background:none !important}#r-sky-l, #r-sky {display:none !important;}</style>';
}

if(parHost.match('ekonom.ihned.cz')){
  html_web+='<style type="text/css">#fp-leader {left: -10px !important;}</style>';
}

//fix - nastavení průhledné barvy v leaderu pro jeho zobrazení
if(parHost.match('logistika.ihned.cz')){
  html_web +='<style type="text/css">div#a-leader.a-content {background-color: transparent !important;}</style>';
}

if(parHost.match('kariera.ihned.cz')){
html_web += '<style type="text/css">#r-leader {background:none !important;}#r-leader-ozn {display:none !important;}#r-leader .reklama{margin-left:0 !important;background:none !important}#r-sky-l, #r-sky {display:none !important;}</style>';
}

if(parHost.match('ov.ihned.cz') || parHost.match('proc-ne.ihned.cz')){
html_web += '<style type="text/css">#fp-leader{left:0px !important;}#r-leader {background:none !important;}#ihned {padding: 0 9px !important;}</style>';
}

if(parHost.match('exporter.ihned.cz') || parHost.match('proc-ne.ihned.cz')){
html_web += '<style type="text/css">#fp-leader{left:0px !important;}#r-leader{background:none !important;}#r-leader .reklama{padding-bottom:0 !important;}</style>';
}

if(parHost.match('pravniradce.ihned.cz')){
html_web += '<style type="text/css">#fp-leader{left:0px !important;}#r-leader {background:none !important;}#ihned {padding: 0 10px !important;}</style>';
}

if(parHost.match('mam.ihned.cz')){
html_web += '<style type="text/css">#fp-leader{left:0px !important;}#r-leader, #r-leader-b{background:none !important;} #r-leader-ozn {display:none !important;} #r-sky-l, #r-sky {display:none !important;}#r-leader .reklama {left: 4px;} #r-leader, #wrapper {border:0 !important;} #ihned {background:#fff !important;padding:0 5px !important; } </style>';
}

if(parHost.match('centrum.cz') || parHost.match('atlas.cz') || parHost.match('volny.cz')){
html_web += '<style type="text/css">#fp-leader {left:0 !important;} #adHeader{overflow:visible;}#remarketing{display:none;}</style>';
}

if(parHost.match('vareni.cz') || parHost.match('zdrave.cz')){
var bgStickyFix = '';
if (adVars.sticky_background != '') {  bgStickyFix += '.brand-a, .brand-b {background-position:center 26px !important; }';
 }
  
html_web += '<style type="text/css">#ch-tb{position:relative};.adLeaderboard {margin-top:0px !important;width:1029px;}.adLeaderboard span {display:none !important;}.ad {overflow: visible !important;}.brand-b {position:relative;width:100%;min-width:1030px;overflow:hidden;}#atlas-cz #footer{background-color:transparent;}#banner-sas-leaderboard{background:none !important;}#banner-sas-leaderboard .banner-box {width:1024px;}#bglinka, #banner-hp-leaderboard {background: none !important;}#bglinka {background: none !important;}#banner-homepage-leaderboard {height:210px !important;}#banner-sas-skyscraper {display:none !important;}#banner-sas-leaderboard .banner-box {width:1024px !important;} .brand-c {background: none;}.brand-b{background-image:url(\''+adVars.src_background+'\');background-repeat:no-repeat;background-position:top center;'+ back_attachment +'} #www-zdrave-cz{top:-4px; !important} #www-vareni-cz {top:-8px; !important}'+bgStickyFix+' #fp-ad-indicator {top: 5px !important;}  #fp-leader {margin-top: -15px;}</style>'; 
}

if(parHost.match('aktualne.cz')){
html_web += '<style type="text/css">#fp-leader {left:-15px !important;}body .vse{padding-top:15px !important} body {padding-top:0 !important;} #reklama-leader {background-color:transparent !important;padding:0 !important;}</style>';
}

if(parHost.match('fdb.cz')){
html_web += '<style type="text/css">#reklama-leader {padding: 0 0 8px 0;} #fp-leader {left: 0px !important;} #historie1, #content .film_sipka {display: none !important;}</style>';
}

if(parHost.match('autickar.cz')){
html_web += '<style type="text/css">#reklama-leader {margin-left: auto;margin-right: auto;width: '+ adVars.width +'px;} #mainHolder {box-shadow: 0 -2px 5px 0 #eee;}</style>';
}
// interactive fireplace - start - nejde na stahuj.cz - robije to celý fireplace
if (adVars.src_coverbackground !== "") {adVars.set_coverbackground = true;}

var domenaHost = parent.location.hostname;

if((adVars.set_coverbackground === true) && ((domenaHost.match('centrum.cz') || domenaHost.match('atlas.cz') || domenaHost.match('ihned.cz') || domenaHost.match('aktualne.cz') || domenaHost.match('vareni.cz') || domenaHost.match('zdrave.cz')|| domenaHost.match('penize.cz') ||domenaHost.match('fdb.cz') || domenaHost.match('sport.aktualne.cz'))))
{
var pozadi1 = parent.document.getElementById("brand-b");
pozadi1.insertAdjacentHTML('afterbegin', '<div id="brand-c-2" style="" class="brand-c-2"></div>');
parent.document.onmousemove = getMouseXY;
var temporaryX = 0;
var temporaryY = 0;

function getMouseXY(e) {
    if (/MSIE (\d+\.\d+);/.test(navigator.userAgent)) 
    { 
    var ieversion = document.documentMode; 
    if (ieversion >= 9)
    {
    temporaryX = e.clientX + parent.document.body.scrollLeft;
    temporaryY = e.clientY + parent.document.body.scrollTop;
    }
    if (ieversion == 9)
    {
    var skryjDuplikat = parent.document.getElementsByClassName("brand-c-2")[1];
    skryjDuplikat.style.display = "none";
    }
    }
    else
    {
    temporaryX = e.pageX;
    temporaryY = e.pageY;
    }
    var newBrandC = parent.document.getElementById('brand-c-2');
    newBrandC.style.clip = "rect("+(temporaryY)+"px,4000px,"+(adVars.coverbackground_height)+"px,0px)";
    return true;
  }
} 
if((adVars.set_coverbackground === true) && (domenaHost.match('volny.cz')))
{
var pozadi1 = parent.document.getElementsByClassName("brand-b")[0];
pozadi1.insertAdjacentHTML('afterbegin', '<div id="brand-c-2" style="" class="brand-c-2"></div>');
parent.document.onmousemove = getMouseXY;
var temporaryX = 0;
var temporaryY = 0;

function getMouseXY(e) {
    if (/MSIE (\d+\.\d+);/.test(navigator.userAgent)) 
    { 
    var ieversion = document.documentMode; 
    if (ieversion >= 9)
    {
    temporaryX = e.clientX + parent.document.body.scrollLeft;
    temporaryY = e.clientY + parent.document.body.scrollTop;
    }
    if (ieversion == 9)
    {
    var skryjDuplikat = parent.document.getElementsByClassName("brand-c-2")[1];
    skryjDuplikat.style.display = "none";
    }
    }
    else
    {
    temporaryX = e.pageX;
    temporaryY = e.pageY;
    }

    var newBrandC = parent.document.getElementById('brand-c-2');
    newBrandC.style.clip = "rect("+(temporaryY)+"px,4000px,"+(adVars.coverbackground_height)+"px,0px)";
    return true;
  }
}
// interactive fireplace - end
// docasny fix fireplace na novy aktualne
var tempFpFix = parent.document.getElementById('js-header');
if (('%%DEVICE%%'=='df') && (tempFpFix != null)) { 
  html_web += '<style type="text/css">#fp-leader {left: 0px !important;}</style>';
  parent.document.getElementsByTagName('body')[0].className+=' with-fireplace';
}

else if('%%DEVICE%%'=='df'){
  html_web += '<style type="text/css">#fp-leader {left:-20px !important;}</style>';
} 

d = document;
d.write(html_web);

</script>

<style type="text/css">
body{padding-top:0 !important;}
body .leaderboard .reklama-nazev,body .reklama-leaderboard .reklama-nazev{display:none;}
body .reklama-leaderboard-obal{padding:0 15px;width:%%X_LEADER_WIDTH%%px;height:%%X_LEADER_HEIGHT%%px;}
body .reklama-leaderboard{padding:0;}
#brand-c-2 {background:url(%%PREKRYVACI_POZADI%%) no-repeat scroll center top !important;height: %%X_PREKRYVACI_HEIGHT%%px;left: 0;margin: 0 auto;position: absolute;top: 0;width: 100%;z-index: 0;}
</style>
%%X_LEADER_CODE%%
%%X_CSS%%
<div class="sashec-preserve-scope">%%X_MEASURE_CODE%%
<script type="text/javascript">
  (function() {
    if("%%BEACONURL%%" != "") {
      var img = new Image(1,1);
      img.border = 0;
      img.style.display = "none";
      img.src = "%%BEACONURL%%";
    }
  })();
</script>
</div>
<!-- eof ECO_interactive_fireplace -->
<!-- spir.czMonE --> 